---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import ModelY from '../components/ModelY.astro';
import ModelX from '../components/ModelX.astro';
---

<Layout title="Tesla | Landing">
	<Header></Header>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<Home />
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
		<div class="snap-center">
			<ModelX/>
		</div>
		<div class="snap-center">
			<Home />
		</div>
		
	</main>
</Layout>

