<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" 
display-header-color="black">
    <div class="z-30 relative h-full flex flex-col">

        <header>
            <h2 class="text-white font-medium pt-40 text-[40px]"> Vive la experiencia </h2>
            <p class="text-white text-sm"> Agenda tu prueba de manejor hoy </p>
        </header>
        
        <footer class="flex flex-col flex-grow  justify-end pb-20">
                <div>
                    <a  class="border-[3px] border-white bg-white/5 backdrop-blur-lg text-sm rounded font-medium text-white px-12 py-2 inline-block
                    hover:text-black hover:bg-white transition-colors duration-500 ease-in-out" href="#">
                        Prueba de manejo
                    </a>
                </div>
        </footer>

    </div>

<div class="absolute top-0 bottom-0 h-full w-full">
    <video  class="object-center object-cover h-full w-full" autoplay loop muted src="/video-1.webm"></video>
</div>

</section>
